@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dev Books</h1>
    <p>Site para empréstimos de livros, divirta-se.</p>
    <div>
        <img src="/img/book.png"/>
    </div>
</div>
